@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Nguyễn Gia Huy
    Nguyễn Phúc Khang
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0933 73 5072
</address>

<address>
    <strong>Email:</strong>   <a href="nguyengiahuy732003@gmail.com">nguyengiahuy732003@gmail.com</a><br />
</address>